DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_id/your_webhook_token
DISCORD_WEBHOOK_URLS=https://discord.com/api/webhooks/aaa/bbb,https://discord.com/api/webhooks/ccc/ddd
DISCORD_ERROR_WEBHOOK_URL=
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
TELEGRAM_ERROR_CHAT_ID=
DEEPL_API_KEY=
DEEPL_API_URL=https://api-free.deepl.com/v2/translate
SCRAPE_INTERVAL_HOURS=6
SCRAPE_INTERVAL_MIN_HOURS=3
SCRAPE_INTERVAL_MAX_HOURS=6
TRIGGER_TOKEN=your_secure_trigger_token_here
CLOUDFLARE_TUNNEL_TOKEN=
KEYWORDS=developer,engineer,programmer,backend,frontend,fullstack,mobile,data,devops,qa,tester,web,quality assurance,software
LOCATIONS=surabaya,sidoarjo,gresik,remote
JOB_RETENTION_DAYS=30
