[Unit]
Description=LokerScraper Surabaya Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/media/devmon/sda1-usb-SanDisk_Cruzer_B/job-scraper
ExecStart=/media/devmon/sda1-usb-SanDisk_Cruzer_B/job-scraper/.venv/bin/python api/app.py
Restart=always
RestartSec=10
EnvironmentFile=/media/devmon/sda1-usb-SanDisk_Cruzer_B/job-scraper/.env

[Install]
WantedBy=multi-user.target
